*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#InfiniteTowerCanvasWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(180deg, #b8d1fc 0%, #f2f0da 80%);
	background: radial-gradient(
		at 50% 75%,
		#f2f0da 0%,
		#ecdde5 40%,
		#b8d1fc 80%,
		#9ebcf1 100%
	);
}
